################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleDateTimeDealWith/v16
/ConsoleDateTimeDealWith/bin/Debug
/ConsoleDateTimeDealWith/obj/Debug
